* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

header {
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}
main {
  background: hsl(0deg, 0%, 60%);
}

header p {
  margin-top: 32px;
}
.max-width-wrapper {
  height: 50%;

  margin-left: auto;
  margin-right: auto;
  max-width: 590px;
}

.intro-chunk .title {
  font-size: 2rem;
  margin-bottom: 64px;
}
.intro-chunk {
  max-width: 390px;
  font-size: 1.25rem;
  padding-top: 90px;
  margin-left: 16px;
}

.card {
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  width: fit-content;
  padding: 16px 24px;
  margin-left: -32px;
  margin-top: 8px;
  padding-left: 32px;
}

main .max-width-wrapper {
  max-width: 590px;
  padding-top: 32px;
}

.card {
  background: hsl(0deg, 0%, 100%);
  padding: 1px 16px 16px 16px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}
